* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.4;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.6;
}

.grid-item {
    margin-bottom: 10px;
}

/* HEADER: Mobile-First Responsive Design:*/
header {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header-logo-wrapper {
    flex: 1 1 100%;
    text-align: center;
}

.header-logo {
    max-width: 150px;
}

.header-nav {
    flex: 1 1 100%;
}

.header-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.header-nav ul li a {
    font-size: 16px;
    color: #182E67;
    font-weight: 600;
}

/* HEADER: Tablet Responsive Design:*/
@media (min-width: 768px) {
    header {
        flex-wrap: nowrap;
    }

    .header-logo-wrapper {
        text-align: left;
        padding: 0 20px;
        flex: 1 1 200px;
        border-right: 2px solid #01BDD6;
    }

    .header-logo {
        max-width: 100%;
    }

    .header-nav ul {
        justify-content: flex-start; 
        padding: 0;
        margin: 10px 0;
    }

    .header-nav ul li {
        margin: 0 20px;
    }

    .header-nav ul li a {
        font-size: 20px;
    }
}

/* HEADER: Desktop Responsive Design:*/
@media (min-width: 992px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }
}

/* HERO: Mobile-First Responsive Design:*/
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("./img/support-maintenance.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

.hero-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    text-shadow: 1px 1px 4px #111111;
    text-transform: uppercase;
    width: 90%; 
    max-width: 350px;
}

.hero-subheading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    font-style: italic;
    text-shadow: 1px 2px 8px #111111;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 90%; 
    max-width: 600px;
}

.hero-cta-btn {
    width: 40%; 
    max-width: 300px; 
    height: 48px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: #01BDD6;
    color: #111111;
    padding: 0 10px;
    margin-top: 20px; 
}

/* HERO: Tablet Responsive Design:*/
@media (min-width: 768px) {
    .hero {
        flex-direction: column;
        height: 400px;
        justify-content: center;
    }

    .hero-heading {
        font-size: 2rem;
        max-width: 650px;
    }

    .hero-subheading {
        font-size: 1.5rem;
        max-width: 600px;
    }

    .hero-cta-btn {
        max-width: 17%;
    }
}

/* HERO: Dsektop Responsive Design:*/
@media (min-width: 992px) {
    .hero-cta-btn {
        width: 50%; 
        max-height: 50px;
    }
}

/* FEATURES: Mobile-First Responsive Design:*/
.features-heading {
    text-align: center;
    margin: 20px 0;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.feature-item {
    margin-bottom: 20px;
}

.feature-img-wrapper {
    display: flex;
    justify-content: center;
}

.feature-img {
    max-width: 90%;
    margin-bottom: 10px;
}

.feature-title {
    color: #111111;
    text-align: center;
    margin-bottom: 10px;
}

.feature-description {
    text-align: justify;
}

/* FEATURES: Tablet Responsive Design:*/
@media (min-width: 768px) {
    .features {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .feature-item {
        width: 30%;
    }

    .feature-img {
        max-width: 200px;
    }

    .feature-title {
        font-size: 1rem;
    }
}

/* FEATURES: Desktop Responsive Design:*/
@media (min-width: 992px) {
    .feature-title {
        font-size: 1.2rem;
    }
}

/* FOOTER: Mobile-First Responsive Design:*/
footer {
    background-color: #333;
    color: #ffffff;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
}

.footer-contact-title {
    color: #ffffff;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer a {
    color: #f3f3f3;
}

footer p {
    margin-top: 10px;
}

footer img.x-logo {
    width: 16px;
}

/* FOOTER: Tablet Responsive Design:*/
@media (min-width: 768px) {
    footer {
        text-align: left;
    }
    footer ul {
        display: flex;
        justify-content: space-around;
    }
    footer ul li {
        margin-bottom: 0;
    }

    footer p {
        text-align: center;
    }
}

/* FOOTER: Desktop Responsive Design:*/
@media (min-width: 992px) {
    .footer-contact-title {
        font-size: 1.5rem;
    }
    footer ul li a{
        font-size: 1.25rem;
    }
}